#!/bin/bash

function reload () {
    source ~/.zshrc
}

function find-file () {
    find . -name "$1"
}

function kube-latest () {
    curl -sS https://storage.googleapis.com/kubernetes-release/release/stable.txt
}
